<a href="https://colab.research.google.com/github/nora24r-cloud/nora24r-cloud.github.io/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
import pandas as pd

In [2]:
path = "/content/mydatabase.db"

In [3]:
conn = sqlite3.connect(path)

In [4]:
cursor = conn.cursor()
cursor.execute("CREATE TABLE clients_anonymized(client_id STRING,region TEXT,age_group STRING,total_purchases INTEGER,last_contact_days INTEGER);")
conn.commit()
cursor.close()
conn.close()

In [5]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("INSERT INTO clients_anonymized (client_id, region, age_group, total_purchases, last_contact_days) VALUES ('Client_001', 'Москва', '18-25', 27, 35), ('Client_002', 'СПб', '26-35', 18, 10);")
conn.commit()
cursor.close()
conn.close()

In [6]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("INSERT INTO clients_anonymized (client_id, region, age_group, total_purchases, last_contact_days) VALUES ('Client_003', 'Уфа', '26-35', 1, 5), ('Client_004', 'Екатеринбург', '36-50', 8, 22);")
conn.commit()
cursor.close()
conn.close()

In [7]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("INSERT INTO clients_anonymized (client_id, region, age_group, total_purchases, last_contact_days) VALUES ('Client_005', 'Москва', '26-35', 3, 190);")
conn.commit()
cursor.close()
conn.close()

In [8]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("SELECT * FROM clients_anonymized;")
for clients in cursor:
    print(clients)
cursor.close()
conn.close()

('Client_001', 'Москва', '18-25', 27, 35)
('Client_002', 'СПб', '26-35', 18, 10)
('Client_003', 'Уфа', '26-35', 1, 5)
('Client_004', 'Екатеринбург', '36-50', 8, 22)
('Client_005', 'Москва', '26-35', 3, 190)

In [9]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("SELECT client_id, last_contact_days FROM clients_anonymized WHERE last_contact_days <= 30;")
for client in cursor:
    print(client)
cursor.close()
conn.close()

('Client_002', 10)
('Client_003', 5)
('Client_004', 22)

In [10]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("SELECT client_id, region FROM clients_anonymized;")
for client in cursor:
    print(client)
cursor.close()
conn.close()

('Client_001', 'Москва')
('Client_002', 'СПб')
('Client_003', 'Уфа')
('Client_004', 'Екатеринбург')
('Client_005', 'Москва')

In [11]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("SELECT client_id, total_purchases FROM clients_anonymized WHERE total_purchases >= 5 ORDER BY total_purchases DESC;")
for client in cursor:
    print(client)
cursor.close()
conn.close()

('Client_001', 27)
('Client_002', 18)
('Client_004', 8)

In [12]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("SELECT age_group, COUNT(*) as client_count FROM clients_anonymized GROUP BY age_group;")
for client in cursor:
    print(client)
cursor.close()
conn.close()

('18-25', 1)
('26-35', 3)
('36-50', 1)

In [13]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("UPDATE clients_anonymized SET last_contact_days = 0 WHERE client_id = 'Client_004';")
for client in cursor:
    print(client)
cursor.close()
conn.close()

In [14]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("SELECT * FROM clients_anonymized;")
for client in cursor:
    print(client)
cursor.close()
conn.close()

('Client_001', 'Москва', '18-25', 27, 35)
('Client_002', 'СПб', '26-35', 18, 10)
('Client_003', 'Уфа', '26-35', 1, 5)
('Client_004', 'Екатеринбург', '36-50', 8, 22)
('Client_005', 'Москва', '26-35', 3, 190)

In [15]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("UPDATE clients_anonymized SET total_purchases = total_purchases + 1 WHERE region = 'СПб';")
for client in cursor:
    print(client)
cursor.close()
conn.close()

In [16]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("SELECT * FROM clients_anonymized;")
for client in cursor:
    print(client)
cursor.close()
conn.close()

('Client_001', 'Москва', '18-25', 27, 35)
('Client_002', 'СПб', '26-35', 18, 10)
('Client_003', 'Уфа', '26-35', 1, 5)
('Client_004', 'Екатеринбург', '36-50', 8, 22)
('Client_005', 'Москва', '26-35', 3, 190)

In [17]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("DELETE FROM clients_anonymized WHERE client_id = 'Client_005';")
for client in cursor:
    print(client)
cursor.close()
conn.close()

In [18]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("SELECT * FROM clients_anonymized;")
for client in cursor:
    print(client)
cursor.close()
conn.close()

('Client_001', 'Москва', '18-25', 27, 35)
('Client_002', 'СПб', '26-35', 18, 10)
('Client_003', 'Уфа', '26-35', 1, 5)
('Client_004', 'Екатеринбург', '36-50', 8, 22)
('Client_005', 'Москва', '26-35', 3, 190)

In [19]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("DELETE FROM clients_anonymized WHERE region = 'Екатеринбург';")
for client in cursor:
    print(client)
cursor.close()
conn.close()

In [20]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("SELECT * FROM clients_anonymized;")
for client in cursor:
    print(client)
cursor.close()
conn.close()

('Client_001', 'Москва', '18-25', 27, 35)
('Client_002', 'СПб', '26-35', 18, 10)
('Client_003', 'Уфа', '26-35', 1, 5)
('Client_004', 'Екатеринбург', '36-50', 8, 22)
('Client_005', 'Москва', '26-35', 3, 190)

In [21]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("SELECT client_id FROM clients_anonymized WHERE age_group = '26-35' AND total_purchases >= 3;")
for client in cursor:
    print(client)
cursor.close()
conn.close()

('Client_002',)
('Client_005',)

In [22]:
conn = sqlite3.connect(path)
cursor = conn.cursor()
cursor.execute("SELECT client_id, last_contact_days FROM clients_anonymized ORDER BY last_contact_days ASC;")
for client in cursor:
    print(client)
cursor.close()
conn.close()

('Client_003', 5)
('Client_002', 10)
('Client_004', 22)
('Client_001', 35)
('Client_005', 190)